.App {
  text-align: center;
}

.container {
  padding: 30px;
}

.content {
  margin-top: 15px;
  border-style: inset;
  border-color: blue;
  background-color: cadetblue;
}

.header {
  background-color: blue;
  font-size: 30px;
}




